*{
    background-color: black;
    color: white;
}

.Contenedor{
    background-color: white;
}

h3{
    display: inline-block;
    margin: 30px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Space Mono', monospace;
}

.Scarecrow{
    float: left;
    align-items: center;
}

.Scarecrow__img{
    margin-top: 3vw;
    margin-left: 20vw;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    width: 30vw;
}

.Mensage{
    float: left;
    margin-top: 30px;
    padding: 0;
    margin-left: 20px;
    width: 25em;
}

.Mensage__Badnews{
    font-size: 40px;
    font-family: 'Space Mono', monospace;
}

.Mensage__text{
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    font-weight: 0.3px;
    width: 90%;
}

.Button{
    margin-bottom: 40px;
    width: 200px;
    font-size: 15px;
    padding: 15px;
    border: 3px solid white;
    border-radius: 15px;
    font-family: 'Space Mono', monospace;
}

.Button:hover{
    background-color: #9999;
    color: white;
    cursor: pointer;
}

