*{
    font-family: "Space Mono";
    font-weight: 100;
    color: #fff;
    background-color: #000;
}

h3{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 15px;
}

.container__imgText{
    display: flex;
}

.scarecrow__img{
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 4em;
    width: 45em;
}

.mensage{
    margin-right: 3em;
    margin-top: 6em;
}

.mensage__h1{
    font-size: 4em;
}

.mensage__p{
    margin-right: 280px;
    font-size: 1.5em;
    font-weight: 50;
}


button{
    margin-top: 2em;
    margin-left: 0.5em;
    padding: 20px;
    font-size: 32px;
    border: 3px solid #fff;
    border-radius: 10px;
}

button:hover{
    border-color: #ff9;
    background-color: #30363D;
}

@media only screen and (max-width: 1400px) {
    .container__imgText{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .scarecrow__img{
        margin: 2em;
    }

    .mensage{
        margin: 0.5em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mensage__p{
        margin: auto;
    }

    button{
        margin: auto;
        margin-top: 1.3em;
        margin-bottom: 2em;
        font-size: 1.5em;
    }
}